streamlit
transformers
tensorflow
nltk
tf-keras

# to create virtual env
# python -m venv 'env-name'
# to install dependencies or packages from requirement.txt
# pip install -r ./requirements.txt
# to run on server
# streamlit run ./VigorBot.py